<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>week10</display-name>
  
  <servlet>
  	<servlet-name>Input</servlet-name>
  	<servlet-class>com.thekernel.servlet.InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Input</servlet-name>
  	<url-pattern>/doInput</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.thekernel.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InsertFile</servlet-name>
  	<servlet-class>com.thekernel.servlet.InsertFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InsertFile</servlet-name>
  	<url-pattern>/doInsertFile</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Exit</servlet-name>
  	<servlet-class>com.thekernel.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Exit</servlet-name>
  	<url-pattern>/doExit</url-pattern>
  </servlet-mapping>
</web-app>